footer{
    border-top: 1px solid black;
    background: linear-gradient(135deg, #383838, #727272);
    color: white !important;
}

footer .h1{
    margin-bottom: 15px;
}


footer a{
    color: white !important;
    text-decoration: none;
}

h2{
    margin-top: 150px;
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    color: #fff;
    padding: 0 15px;
}

#landing-img{
    border-radius: 0.75rem;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#leer-mas{
    transition: 200ms all;
}

#leer-mas:hover{
    background-color: rgba(187, 175, 175, 0.5);
}

#redes-sociales img{
    width: 40px;
    margin-right: 7px;
    margin-bottom: 10px;
    transition: 150ms all;
}

#redes-sociales img:hover{
    transform:scale(1.15, 1.15);
}

#servicios{
    display: grid;
    grid-template-rows: auto auto auto auto;
    padding: 50px 30px 100px 30px;
    background-color: rgb(36, 36, 36);
    border-radius: 0.75rem;
    border: 1px solid rgb(223, 223, 223);
    color: white;
    margin: 200px 150px 100px 150px;
}

#servicios h2{
    grid-row: 1/2;
    margin: 110px 0;
}

#servicios h3 {
    font-weight: 300;
    font-size: 40px;
    padding: 15px;
    text-align: center;
}

#servicios p {
    font-weight: 300;
    font-size: 20px;
}

#servicio1{
    grid-row: 2/3;
}

#servicio2{
    grid-row: 3/4;
}

#servicio3{
    grid-row: 4/5;
}

#snariox-text{
    margin-bottom: 12%;
}

#snariox-text p{
    text-align: justify;
    text-justify: inter-word;
}

.card{
    text-align: justify;
    border-radius: 4px;
    background-color: rgb(179, 165, 165);
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

/* .background-card {
    background-image: url("https://images.unsplash.com/photo-1606337321936-02d1b1a4d5ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
} */

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    background-color: rgb(204, 191, 191);
    cursor: default;
}

@media(max-width: 990px){
  .card{
    margin: 20px;
  }
} 

@media(min-width: 990px){
    .header-blue .hero h1{
        font-size: 55px !important;
    }
}

@media(min-width: 990px){
    .header-blue .hero p{
        font-size: 23px !important;
    }
}

.header-blue {
    background: linear-gradient(135deg, #383838, #8d8d8d);
    background-color: #184e8e;
    padding-bottom: 80px;
}

@media (min-width:768px) {
    .header-blue {
        padding-bottom: 120px
    }
}

.header-blue .navbar {
    background: transparent;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    border: none
}

@media (min-width:768px) {
    .header-blue .navbar {
        padding-top: 1rem;
        padding-bottom: 1rem
    }
}

.header-blue .navbar .navbar-brand {
    font-weight: bold;
    color: inherit
}

.header-blue .navbar .navbar-brand:hover {
    color: #f0f0f0
}

.header-blue .navbar .navbar-collapse {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: .5rem
}

@media (min-width:768px) {
    .header-blue .navbar .navbar-collapse {
        border-color: transparent;
        margin: 0
    }
}

.header-blue .navbar .navbar-collapse span .login {
    color: #fff;
    margin-right: .5rem;
    text-decoration: none
}

.header-blue .navbar .navbar-collapse span .login:hover {
    color: #fff
}

.header-blue .navbar .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.3)
}

.header-blue .navbar .navbar-toggler:hover,
.header-blue .navbar-toggler:focus {
    background: none
}

@media (min-width: 768px) {
    .header-blue .navbar-nav .nav-link {
        padding-left: .7rem;
        padding-right: .7rem
    }
}

@media (min-width: 992px) {
    .header-blue .navbar-nav .nav-link {
        padding-left: 1.2rem;
        padding-right: 1.2rem
    }
}

.header-blue .navbar.navbar-light .navbar-nav .nav-link {
    color: #fff
}

.header-blue .navbar.navbar-light .navbar-nav .nav-link:focus,
.header-blue .navbar.navbar-light .navbar-nav .nav-link:hover {
    color: #fcfeff !important;
    background-color: transparent
}


.header-blue .action-button,
.header-blue .action-button:not(.disabled):active {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 40px;
    color: #fff;
    box-shadow: none;
    text-shadow: none;
    padding: .3rem .8rem;
    background: transparent;
    transition: background-color 0.25s;
    outline: none
}

.header-blue .action-button:hover {
    color: #fff
}

.header-blue .hero h1 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 1.4
}

@media (min-width:992px) {
    .header-blue .hero h1 {
        margin-top: 2em;
        margin-bottom: 24px;
        line-height: 1.2
    }
}

.header-blue .hero p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300
}

.header-blue .phone-holder {
    text-align: right
}

.header-blue div.iphone-mockup {
    position: relative;
    max-width: 300px;
    margin-top: 172px;
    display: inline-block
}

.header-blue .iphone-mockup img.device {
    width: 100%;
    height: auto
}

.header-blue .iphone-mockup .screen {
    position: absolute;
    width: 88%;
    height: 77%;
    top: 12%;
    border-radius: 2px;
    left: 6%;
    border: 1px solid #444;
    background-color: #aaa;
    overflow: hidden;
    background: url(../../assets/img/screen-content-iphone-6.jpg);
    background-size: cover;
    background-position: center
}

.header-blue .iphone-mockup .screen:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 70%;
    height: 140%;
    top: -12%;
    right: -60%;
    transform: rotate(-19deg);
    opacity: 0.2
}

.navbar-brand{
    font-size: 2.5rem;
}

.nav-item{
    margin-top: 10px;
    font-size: 23px;
}

.navbar a{
    margin-left: 2% !important;
}

.row{
    align-items: center !important;
    justify-content: space-between;
}

.servicio{
    padding: 50px 80px;
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: center;
}

.ser-text{
    padding: 0 65px;
    text-align: justify;
    text-justify: inter-word;
}

.ser-img img{
    max-width: 400px;
    border-radius: 0.75rem;
    width: 80%;
    box-shadow: 10px 10px 5px rgb(26, 26, 26);
}


@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);

.equipo-titulo{
    color: white !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 60px;
}

.members {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
    border-top: 2px solid #ccc;
    background: #ededed  !important;
}

.members h2{
    margin: 35px 0 16px !important;
}

.members h2,
.members h3,
.members h4,
.members h5,
.members h6 {
    color: #3e4555;
}

.members .font-weight-medium {
    font-weight: 500;
}


.members .subtitle {
    color: #8d97ad;
    line-height: 24px;
}

.members .pro-pic {
    min-height: 200px;
}

.members .pro-pic .card-img-overlay ul {
    top: 50%;
}

.members .pro-pic .card-img-overlay ul li a {
    -webkit-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
}

.members .pro-pic .card-img-overlay ul li a:hover {
    -webkit-transform: translate3d(0px, -5px, 0px);
    transform: translate3d(0px, -5px, 0px);
}

.members .pro-pic:hover .card-img-overlay {
    display: block;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoJoomla:hover {
    background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #D3D3D3;
}